{
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "htmlWhitespaceSensitivity": "strict",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
